<% post.comments.forEach(comment => { %>
  <div class="columns is-12 is-mobile">
    <div class="column is-10">
      <p>
        <span class="commenter">
          <a href="/users/<%= comment.createdBy.id%>/show"><strong><%= comment.createdBy.username %>:</strong></a>
        </span>
        <%= comment.content %>
      </p>
    </div>

    <div class="column">

      <% if (locals.isLoggedIn && locals.user.username === comment.createdBy.username) { %>
        <form action="/posts/<%= post.id %>/comments/<%= comment.id %>" method="POST">
          <input type="hidden" name="_method" value= "DELETE">
          <button class="tag is-delete"></button>
        </form>
      <% } %>
    </div>
  </div>
<% }) %>

<% if (locals.isLoggedIn) { %>
  <%- include('new', {post}) %>
  <% } %>
