<h1 class="title is-4">Hope this helps:</h1>

<div class="search-results">
<% post.forEach(post => { %>
  <div class="search-result">
  <p><a href="posts/<%= post.link %>"><%= post.title %></a></p>
  <p><%= post.subtitle %></p>
  <p>By <%= post.author.username %> on <%= post.date %></p>
  </div>
  <% }) %>
</div>
