<h2 class="title is-2">Edit</h2>

<form method="POST" action="/posts/<%= post.id %>">
  <div class="field">
    <label class="label" for="author">Author</label>
    <div class="control">
      <input name="author" class="input" type="text" value="<%= post.author %>">
    </div>
  </div>
  <div class="field">
    <label class="label" for="title">Title</label>
    <div class="control">
      <input name="title" class="input" type="text" value="<%= post.title %>">
    </div>
  </div>
  <div class="field">
    <label class="label" for="subtitle">Subtitle</label>
    <div class="control">
      <input name="subtitle" class="input" type="text" value="<%= post.subtitle %>">
    </div>
  </div>
  <div class="field">
    <label class="label" for="content"></label>
    <div class="control">
      <textarea class="textarea" name="content"rows="30"><%= post.content %></textarea>
    </div>
  </div>

  <input type="hidden" name="_method" value="PUT">

  <button class="button is-primary">Save</button>
</form>
