<h1 class="title is-1">Featured</h1>

<div class="columns is-multiline is-centered">
    <div class= "column is-7">
    <a href=/posts/<%= posts[0].id %>>
    <img src=<%= posts[0].coverPic %> alt=<%= posts[0].title %> />
    <h2 class= "title is-3"><%- posts[0].title %></h2>
    <h3 class= "subtitle is-6"><%- posts[0].subtitle %></h3>
    </a>
    </div>
    <% let index = -1;
    posts.forEach(post => {
      index++ %>
    <% if (index === 1 ) { %>
    <div class= "column is-5">
    <a href=/posts/<%= post.id %>>
    <img src=<%= post.coverPic %> alt=<%= post.title %> />
    <h2 class= "title is-3"><%- post.title %></h2>
    <h3 class= "subtitle is-6"><%- post.subtitle %></h3>
    </a>
    </div>
    <%  } %>
  <% if (index > 1) { %>
    <div class= "column is-6">
    <a href=/posts/<%= post.id %>>
    <img src=<%= post.coverPic %> alt=<%= post.title %> />
    <h2 class= "title is-3"><%- post.title %></h2>
    <h3 class= "subtitle is-6"><%- post.subtitle %></h3>
    </a>
    </div>
<%   } %>
    <% }) %>
</div>
<hr>
<h1 class="title is-1">For You</h1>
