<div class="columns is-mobile is-multiline is-centered">

  <div class="column is-5-desktop is-12-mobile">
    <div>
      <div class="main-details">
        <div class="blog-card card">
          <div class="card-content">
            <div class="columns is-mobile is-multiline">
            <div class="column is-12">
              <h1 class="blog-title"><%= post.title %> </h1>
              <h1 class="blog-subtitle subtitle is-5"><%= post.subtitle %> </h1>
            </div>
            <div class="column is-6">
            <a href="/users/<%= post.author.id%>/show"><h1 class="subtitle is-5 author">By <%= post.author.username %></h1></a> 
              <p class="subtitle is-6 date">on <%= post.date%></p>
              <p class="read-time"><i class="far fa-clock"></i> <%= Math.round((post.content.split(' ').length)/275)%> minute read</p>
            </div>
            <div class="column is-6">

              <p class="subtitle is-6 tags">
                <% post.tags.forEach(tag => {
                  if (tag) {%>
                    <span class="tag"><%= tag %></span>
                    <% }
                  }) %>
                </p>

            <% if (locals.isLoggedIn) { %>
              <% if (post.likes.indexOf(locals.user.id.toString()) >= 0) { %>
                <form class="" action="/posts/<%= post.id %>/likes/delete" method="POST">
                <button class="like">
                <i class="fas fa-heart fa-2x"></i><span class="likes-number"><%= post.likes.length %></span>
                </button>
                <input type="hidden" name="_method" value= "DELETE">
                </form>
            <%  console.log(post.likes.filter(like => like !== locals.user.id))} else { %>
              <form class="" action="/posts/<%= post.id %>/likes" method="POST">
                <button class="like">
              <i class="far fa-heart fa-2x"></i><span class="likes-number"><%= post.likes.length %></span>
              </button>
              </form>
            <% }
          } else { %>
            <form class="" action="/posts/<%= post.id %>/likes" method="POST">
              <button class="like">
            <i class="fas fa-heart fa-2x"></i><span class="likes-number"><%= post.likes.length %></span>
            </button>
            </form>
        <%  }%>
        </div>
      </div>
      </div>

    </div>

  </div>


            </div>
          </div>
          <div class="column is-12-mobile">
            <img src=<%= post.coverPic %> alt="">
          </div>

        </div>


        <div class="columns is-mobile is-centered is-multiline">
          <div class="column is-12-desktop is-11-mobile">
            <div class="content">
              <p><%= post.content %></p>
            </div>
          </div>
            </div>

          <% if (locals.isLoggedIn && user.id === post.author.id) { %>
            <div class="columns is-mobile">
            <div class="button-col column is-1">
            <a class="edit-button button" href="/posts/<%= post.id %>/edit">Edit</a>
            </div>
            <div class="button-col column is-1">
            <form class="" action="/posts/<%= post.id %>" method="POST">
            <button class="delete-button button">Delete</button>
            <input type="hidden" name="_method" value="DELETE">
            </form>
            </div>
            </div>
            <% } %>
            <hr/>


            <div class="columns is-12-desktop">
            <div class="column">
              <h1 class="title is-1">Comments</h1>
              <%- include('../comments/index', {post}) %>
            </div>
            </div>
