<div class="columns is-mobile is-multiline">

          <div class="column is-12-desktop is-10-tablet is-12-mobile">
            <%= post.title %>
              <img src=<%= post.coverPic %> alt="">

          </div>

          <div class="column is-6">
            <div class="content">
              <p><%= post.content %></p>
            </div>
          </div>

          <hr/>
          <% if (locals.isLoggedIn && user.id === post.author.id) { %>
            <div class="column is-12 is-multiline">
            <a class="button is-warning" href="/posts/<%= post.id %>/edit">Edit</a>
            </div>

            <div class="column is-12">
            <form class="" action="/posts/<%= post.id %>" method="POST">
            <button class="button is-danger">Delete</button>
            <input type="hidden" name="_method" value="DELETE">
            </form>
            </div>


            <% } %>
            <div class="column is-12">
              <%- include('../comments/index', {post}) %>
            </div>
          </div>
